html{
    height: 100%;
}
body{
    display:flex;
    flex-direction: column;
}

header{
    display:flex;
    justify-content: space-between;
    flex:3;
}
main{
    flex:6;
}

footer{
    flex: 1;
}

nav{
    display: flex;
     align-items: center;
}

ul{
    display: flex;
    min-width: 300px;
    justify-content: space-around;
}